:root {
  --accent-color: #ff6c00;
  --primary-text-color: #555555;
  --secondary-text-color: #303030;
  --third-text-color: #9da4bd;
  --primary-font: "Open Sans", sans-serif;
  --secondaty-font: "Raleway", sans-serif;
}

body {
  font-family: var(--primary-font);
  color: var(--primary-text-color);
  line-height: 1.36;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

img {
  display: block;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  background-color: teal;
  outline: 2px solid tomato;
  margin: 0 auto;
}

.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.link {
  text-decoration: none;
}

.link.current {
  color: var(--accent-color);
}

.button {
  padding: 12px 20px;
  border: 1px solid var(--accent-color);
  border-radius: 25px;
  min-width: 160px;
  height: 40px;

  font-family: var(--primary-font);
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.09em;
  text-transform: uppercase;

  color: #ffffff;
  background-color: transparent;
}

.button:hover,
.button:focus {
  background-color: var(--accent-color);
}

.top-text {
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 11px;
  text-transform: uppercase;
}

.title {
  font-family: var(--secondaty-font);
  font-weight: 700;
  font-size: 42px;
  line-height: 1.67;
  letter-spacing: 0.05em;
}

.under-title-text {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
}

/* ------------------HEADER------------------ */
.header {
  padding-top: 32px;
  padding-bottom: 32px;
}
.container.sidebar {
  padding: 0;
}

.header .container {
  display: flex;
  align-items: center;
}

.site-logo {
  padding-top: 32px;
  padding-right: 31px;
  padding-bottom: 32px;
}

.nav-list {
  display: flex;
}

.nav-link {
  display: inline-block;
  color: #ffffff;
  font-weight: 600;
  font-size: 12px;
  letter-spacing: 0.1em;
}

.nav-link:focus,
.nav-link:hover {
  color: var(--accent-color);
}

.nav-list > .nav-item {
  margin-left: 30px;
}

.nav-list > .nav-item:first-child {
  margin-left: 100px;
}

.tel {
  margin-left: 254px;
  align-items: center;
}

.nav > .primary.button {
  margin-left: 40px;
}

.social-link {
  font-weight: 600;
  font-size: 11px;
  letter-spacing: 0.2em;
  color: var(--secondary-text-color);
}

.social-link:hover,
.social-link:focus {
  color: var(--accent-color);
}

/* ------------HERO--------------- */
.hero .container {
  display: flex;
}

.hero-container {
  display: flex;
  padding: 0;
  background-color: #ffffff;
}

.hero-list {
  width: 100px;
}

.hero-main-text {
  background-color: tomato;
  flex-grow: 1;
}

.hero-upper-title {
  color: rgba(157, 164, 189, 0.6);
}

.hero-title {
  font-family: var(--secondaty-font);
  font-weight: 700;
  font-size: 72px;
  line-height: 1.18;
  letter-spacing: 0.05em;
  color: #ffffff;
  margin-bottom: 20px;
}

.hero-bottom-text {
  color: var(--third-text-color);
  max-width: 360px;
}

/* ----------ABOUT------------- */
.about .container {
  display: flex;
}

.about-photos {
  margin-right: 30px;
}

.about-photos .photos-list {
  display: flex;
  gap: 30px;
}

.about-text {
  margin-right: 100px;
}

.about-top-title {
  color: var(--secondary-text-color);
  margin-bottom: 20px;
}

.about-title {
  color: var(--secondary-text-color);
  margin-bottom: 20px;
  line-height: 1.17;
}

.about-text .under-title-text {
  margin-bottom: 20px;
}

.about-bottom-text {
  line-height: 1.86;
  letter-spacing: 0.02em;
  margin-bottom: 20px;
  font-size: 14px;
  max-width: 470px;
}

.secondary.button {
  color: var(--secondary-text-color);
}

/* -----------SERVICES AND PRICES-------------- */
.sap-upper-text {
  text-transform: uppercase;
  color: rgba(157, 164, 189, 0.6);
}

.sap-title {
  color: #ffffff;
  margin-bottom: 45px;
}

.sap-price {
  display: flex;
  margin-bottom: 45px;
}

.sap-list {
  margin-right: 30px;
  padding: 30px 21px;
  width: 570px;
  background: linear-gradient(180deg, #171a24 0%, rgba(23, 26, 36, 0.2) 100%);
}

.sap-list:last-child {
  margin-right: 0;
}

.sap-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.sap-item:last-child {
  margin-bottom: 0;
}

.sap-container > .button {
  margin: 0 auto;
  display: block;
}

.sap-item > p {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: var(--third-text-color);
}

/* ---------------ADVANTAGES--------------- */
.advantages .container {
  display: flex;
  justify-content: center;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  margin-right: 130px;
  margin-left: 100px;
}

.advantage-item {
  padding: 20px 24px;
  width: 170px;
  height: 130px;
  text-align: center;

  background-color: #f7f7f7;
  margin-right: 30px;
  margin-bottom: 30px;
}

.advantage-number {
  display: block;
  margin-bottom: 6px;

  font-weight: 700;
  font-size: 42px;
  text-align: center;
  letter-spacing: 0.05em;
  color: var(--secondary-text-color);
}

.advantage-text {
  font-weight: 600;
  font-size: 11px;
  text-align: center;
  color: var(--secondary-text-color);
}

.adv-main-text {
  margin-right: 100px;
}

.advantages-upper-text {
  color: var(--secondary-text-color);
}

.advantages-title {
  margin-bottom: 20px;
  color: var(--secondary-text-color);
}

/* -----------------BARBERS------------------ */
.barbers-list {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.barber {
  width: calc((100% - 60px) / 3);
}

.barbers-title {
  margin-bottom: 45px;
  color: var(--secondary-text-color);
}

.barber-photo {
  margin-bottom: 30px;
}

.name {
  margin-bottom: 8px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.39;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
}

.job-title {
  margin-bottom: 30px;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

.barber-soc-list {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.barbers-soc-link {
  display: block;
  width: 44px;
  height: 44px;
  border-radius: 50%;

  background-color: var(--accent-color);
}

/* ---------------GALLARY---------------------- */
.gallery-title {
  margin-bottom: 45px;
  color: var(--secondary-text-color);
}

.works-list {
  display: flex;
  justify-content: space-between;
}

.work-item {
  width: calc((100% - 90px) / 4);
}

/* ---------------BOOKING------------------ */
.booking-title {
  color: #ffffff;
}

/* -------------CONTACTS------------ */
.contacts-title {
  color: #ffffff;
}

.geolocation {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: var(--third-text-color);
}

.address-link {
  font-style: normal;
  color: var(--third-text-color);
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
}

.contacts-bottom-text {
  color: #ffffff;
}

.work-schedule {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: var(--third-text-color);
}

/* -----------FOOTER----------- */

.copy {
  font-weight: 600;
  letter-spacing: 0.2em;
  color: var(--third-text-color);
}
