:root {
  --accent-color: #ff6c00;
  --primary-text-color: #555555;
  --secondary-text-color: #303030;
  --third-text-color: #9da4bd;
  --primary-font: "Open Sans", sans-serif;
  --secondaty-font: "Raleway", sans-serif;
  --primary-animation-duration: 300ms;
}

body {
  font-family: var(--primary-font);
  color: var(--primary-text-color);
  line-height: 1.36;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

img {
  display: block;
}

address {
  font-style: normal;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.link {
  text-decoration: none;
}

.link.current {
  color: var(--accent-color);
}

.button {
  padding: 12px 20px;
  border: 1px solid var(--accent-color);
  border-radius: 25px;
  min-width: 160px;
  height: 40px;

  font-family: var(--primary-font);
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.09em;
  text-transform: uppercase;

  color: #ffffff;
  background-color: transparent;

  transition: background-color var(--primary-animation-duration) linear;
}

.button:hover,
.button:focus {
  background-color: var(--accent-color);
}

.top-text {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 11px;
  text-transform: uppercase;
  gap: 20px;
}

.top-text::before {
  content: "";
  width: 60px;
  height: 1px;
  background-color: currentColor;
}

.title {
  font-family: var(--secondaty-font);
  font-weight: 700;
  font-size: 42px;
  line-height: 1.67;
  letter-spacing: 0.05em;
}

.under-title-text {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);

  transition: opacity var(--primary-animation-duration) linear,
    visibility var(--primary-animation-duration) linear;
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 600px;
  height: 400px;

  background-color: #ffffff;

  transform: translate(-50%, -50%) scale(1);
  transition: transform var(--primary-animation-duration) linear;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(1.2);
}

.button-close {
  position: absolute;
  right: 8px;
  top: 8px;

  display: flex;
  width: 30px;
  height: 30px;
  padding: 6px;
  align-items: center;
  justify-content: center;

  border: 1px solid var(--accent-color);
  border-radius: 50%;
}

/* ------------------HEADER------------------ */
.header {
  position: absolute;
  width: 100%;

  padding-top: 32px;
  padding-bottom: 32px;
}
.container.sidebar {
  padding: 0;
}

.header .container {
  display: flex;
  align-items: center;
}

.nav-list {
  display: flex;
}

.nav-link {
  display: inline-block;
  color: #ffffff;
  font-weight: 600;
  font-size: 12px;
  letter-spacing: 0.1em;

  transition: color var(--primary-animation-duration) linear;
}

.nav-link:focus,
.nav-link:hover {
  color: var(--accent-color);
}

.nav-list > .nav-item {
  margin-left: 30px;
}

.nav-list > .nav-item:first-child {
  margin-left: 100px;
}

.tel {
  margin-left: 254px;
  align-items: center;
}

.nav > .primary.button {
  margin-left: 40px;
}

.social-link {
  font-weight: 600;
  font-size: 11px;
  letter-spacing: 0.2em;
  color: var(--secondary-text-color);

  transition: color var(--primary-animation-duration) linear;
}

.social-link:hover,
.social-link:focus {
  color: var(--accent-color);
}

/* ------------HERO--------------- */
.hero.section {
  padding: 0;
}

.hero .container {
  display: flex;
}

.hero-container {
  display: flex;
  width: 100px;
  align-items: flex-end;
  padding: 0;
  background-color: #ffffff;
}

.hero-list {
  display: flex;

  padding-left: 27px;
  padding-top: 40px;
  gap: 40px;
  align-items: center;

  transform: rotate(-90deg) translateY(100%);
  transform-origin: bottom left;
}

.hero-list::before {
  content: "";
  width: 60px;
  height: 1px;
  background-color: currentColor;
}

.hero-main-text {
  padding: 272px 100px 208px 100px;
  flex-grow: 1;
  background-color: #191c26;
  background-image: linear-gradient(
      rgba(25, 28, 38, 0.2),
      rgba(25, 28, 38, 0.2)
    ),
    url(./images/bg-hero.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.hero-upper-title {
  color: rgba(157, 164, 189, 0.6);
}

.hero-title {
  font-family: var(--secondaty-font);
  font-weight: 700;
  font-size: 72px;
  line-height: 1.18;
  letter-spacing: 0.05em;
  color: #ffffff;
  margin-bottom: 20px;
}

.hero-bottom-text {
  color: var(--third-text-color);
  max-width: 360px;
}

/* ----------ABOUT------------- */
.about .container {
  display: flex;
}

.about-photos {
  margin-right: 30px;
}

.about-photos .photos-list {
  display: flex;
  gap: 30px;
}

.about-text {
  margin-right: 100px;
}

.about-top-title {
  color: var(--secondary-text-color);
  margin-bottom: 20px;
}

.about-title {
  color: var(--secondary-text-color);
  margin-bottom: 20px;
  line-height: 1.17;
}

.about-text .under-title-text {
  margin-bottom: 20px;
}

.about-bottom-text {
  line-height: 1.86;
  letter-spacing: 0.02em;
  margin-bottom: 20px;
  font-size: 14px;
  max-width: 470px;
}

.secondary.button {
  color: var(--secondary-text-color);
}

/* -----------SERVICES AND PRICES-------------- */
.sap-section {
  background-color: #111319;
  background-image: url(./images/bg-serv-and-prices.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.sap-upper-text {
  text-transform: uppercase;
  color: rgba(157, 164, 189, 0.6);
}

.sap-title {
  color: #ffffff;
  margin-bottom: 45px;
}

.sap-price {
  display: flex;
  margin-bottom: 45px;
}

.sap-list {
  margin-right: 30px;
  padding: 30px 21px;
  width: 570px;
}

.sap-list:nth-child(odd) {
  background: linear-gradient(180deg, #171a24 0%, rgba(23, 26, 36, 0.2) 100%);
}

.sap-list:nth-child(even) {
  background: linear-gradient(180deg, #090b13 0%, rgba(9, 11, 19, 0.2) 100%);
}

.sap-list:last-child {
  margin-right: 0;
}

.sap-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  align-items: baseline;
  gap: 12px;
}

.sap-item:last-child {
  margin-bottom: 0;
}

.sap-item > p:nth-child(2n) {
  order: 1;
}

.sap-item::after {
  content: "";
  flex-grow: 1;
  height: 1px;
  background-color: currentColor;
}

.sap-container > .button {
  margin: 0 auto;
  display: block;
}

.sap-item > p {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: var(--third-text-color);
}

/* ---------------ADVANTAGES--------------- */
.advantages .container {
  display: flex;
  justify-content: center;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  margin-right: 130px;
  margin-left: 100px;
}

.advantage-item {
  padding: 20px 24px;
  width: 170px;
  height: 130px;
  text-align: center;

  background-color: #f7f7f7;
}

.advantage-item:nth-child(odd) {
  margin-right: 30px;
}

.advantage-item:nth-child(even) {
  margin-top: 30px;
}

.advantage-number {
  display: block;
  margin-bottom: 6px;

  font-weight: 700;
  font-size: 42px;
  text-align: center;
  letter-spacing: 0.05em;
  color: var(--secondary-text-color);
}

.advantage-text {
  font-weight: 600;
  font-size: 11px;
  text-align: center;
  color: var(--secondary-text-color);
}

.adv-main-text {
  margin-right: 100px;
}

.advantages-upper-text {
  color: var(--secondary-text-color);
}

.advantages-title {
  margin-bottom: 20px;
  color: var(--secondary-text-color);
}

/* -----------------BARBERS------------------ */
.barbers.section {
  background-color: #f7f7f7;
}

.barbers-list {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.barber {
  width: calc((100% - 60px) / 3);
}

.barbers-title {
  margin-bottom: 45px;
  color: var(--secondary-text-color);
}

.barber-photo {
  margin-bottom: 30px;
}

.name {
  margin-bottom: 8px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.39;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
}

.job-title {
  margin-bottom: 30px;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

.barber-soc-list {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.barbers-soc-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;

  background-color: #ffffff;
  fill: var(--secondary-text-color);

  transition: fill var(--primary-animation-duration) linear;
}

.barbers-soc-link:hover,
.barbers-soc-link:focus {
  fill: var(--accent-color);
}

/* ---------------GALLARY---------------------- */
.gallery-title {
  margin-bottom: 45px;
  color: var(--secondary-text-color);
}

.works-list {
  display: flex;
  justify-content: space-between;
}

.work-item {
  width: calc((100% - 90px) / 4);
}

/* ----------Booking-contant BOX----------- */
.booking-contacts-box {
  max-width: 1600px;
  background-color: #171a24;
  background-image: url(./images/bg-contacts.png);
  background-repeat: no-repeat;
  background-position: right;
  background-size: calc(50% - 15px) 100%;
  margin: 0 auto;
}

.contact-container {
  display: flex;
  justify-content: space-between;
}

/* ---------------BOOKING------------------ */
.booking.section {
  width: calc(50% - 15px);
}

.booking-title {
  color: #ffffff;
}

/* -------------CONTACTS------------ */
.contacts.section {
  width: calc(50% - 15px);
  padding-left: 100px;
}

.contacts-title {
  color: #ffffff;
  margin-bottom: 40px;
}

.geolocation {
  display: inline-block;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: var(--third-text-color);
  margin-bottom: 20px;
}

.address-link {
  font-style: normal;
  color: var(--third-text-color);
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
}

.contact-item {
  display: block;
  margin-bottom: 20px;
}

.contact-item:last-child {
  display: block;
  margin-bottom: 70px;
}

.contacts-bottom-text {
  color: #ffffff;
}

.work-schedule {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: var(--third-text-color);
}

/* -----------FOOTER----------- */

.copy {
  font-weight: 600;
  letter-spacing: 0.2em;
  color: var(--third-text-color);
}
